{{ with .page }}
<li>
    <div>
    {{ with .Params.externalUrl }}
        <a href="{{ . }}" target="_blank" rel="external">
    {{ else }}
        <a href="{{ .RelPermalink }}">
    {{ end }}
    {{ .LinkTitle | emojify }} </a>
    {{/* Language badge */}}
    {{ $isFrench := false }}
    {{ with .Params.tags }}
      {{ range . }}
        {{ if eq (. | urlize) "french" }}{{ $isFrench = true }}{{ end }}
      {{ end }}
    {{ end }}
    {{ if $isFrench }}
      <span class="lang-badge lang-fr">FR</span>
    {{ else }}
      <span class="lang-badge lang-en">EN</span>
    {{ end }}
    </div>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := dateFormat "Jan 02, 2006" .Date }}
    <time datetime="{{ $dateMachine }}"> {{ $dateHuman }} </time>
</li>
{{ end }}
