{{ define "main" }}

{{/* Cover Image */}}
{{ if .Params.coverImg }}
  {{ $imgData := dict "Page" . "URL" .Params.coverImg "Alt" "Cover Image" "Style" "cover-img" "Loading" "eager" }}
  {{ partial "image-renderer.html" $imgData }}
{{ end }}

{{/* Breadcrumbs */}}
{{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false ) }}
{{ partial "breadcrumbs.html" . }}
{{ end }}

<h1 class="pg-title">{{ .Title | emojify }}</h1>

{{/* Meta */}}
<div class="meta">
  {{ partial "single/meta.html" . }}
  {{ partial "single/meta-tags.html" . }}
</div>

{{/* Series Navigation */}}
{{ partial "single/series-nav.html" . }}

{{ partial "single/toc.html" . }}

{{ .Content }}

{{/* Related Posts */}}
{{ partial "single/related.html" . }}

{{/* Pagination */}}
{{ partial "single/pagination.html" . }}

{{/* Comments */}}
{{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
  {{ if templates.Exists "partials/comments.html" }}
  <div class="comment">
    {{ partial "comments.html" . }}
  </div>
  {{ else }}
    {{ warnf "Comments are enabled for %s but no comments partial exists." .File.Path }}
  {{ end }}
{{ end }}

{{/* Article JSON-LD */}}
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ (.Lastmod | default .Date).Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.copyright | default .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "description": {{ with .Params.summary }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
  {{- with .Params.coverImg }},
  "image": {{ . | absURL | jsonify }}
  {{- end }}
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
}
</script>
{{ end }}

{{/* BreadcrumbList JSON-LD */}}
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ .Site.BaseURL | jsonify }}
    }
    {{- $ancestors := .Ancestors.Reverse }}
    {{- range $i, $p := $ancestors }}
    {{- if $p.RelPermalink | ne "/" }},
    {
      "@type": "ListItem",
      "position": {{ add $i 2 }},
      "name": {{ $p.Title | jsonify }},
      "item": {{ $p.Permalink | jsonify }}
    }
    {{- end }}
    {{- end }},
    {
      "@type": "ListItem",
      "position": {{ add (len $ancestors) 1 }},
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
  ]
}
</script>
{{ end }}

{{ end }}
